body {
  
}

.menu-button {
  display:none; /* TODO: take this out */
  height:25px;
  width:25px;
  background-color: black;
  position:absolute;
  top:0;
  left:0;
}

.container {
  /*
  margin-left: 25%;
  margin-right: 25%;
  */
  margin-top: 15%;
  margin-bottom: 15%;
}

.row {
  width: 100%;
}

.col {
  min-width: 19.5%;
  width:auto;
  display: inline-block;
}

.circle-div {
  height: 250px;
  width: auto;
  min-width: 20%;
  border-radius: 50%;
  background-color: black;
  border: 4px;
}

.circle-div-fade {
  opacity: 0;
  margin-top: 50%;
}

.mint-circle-div {
  background-color: #1ABC9C;
}

.green-circle-div {
  background-color: #2ECC71;
}

.blue-circle-div {
  background-color: #3498DB;
}

.purple-circle-div {
  background-color: #9B59B6;
}

.navy-circle-div {
  background-color: #34495E;
}