{{define "body"}}
    <table class="user-table">
        <tr>
            <td>
                <form action="/save" method="post">
                    Field:
                    <select name="field">
                        <option value="age">Age</option>
                        <option value="pets"># Pets</option>
                    </select>
                    Operator:
                    <select name="operator">
                        <option value="eq">=</option>
                        <option value="ne">!=</option>
                        <option value="gt">></option>
                        <option value="lt"><</option>
                    </select>
                    Value: <input name="value"></input>
                    <input type="submit">
                </form>
            </td>
            <td>
                <table>
                    <thead>
                        <tr>
                            <th colspan=3>Conditions Table</th>
                        </tr>
                        <tr>
                            <th>Field</th>
                            <th>Operator</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Conditions}}
                            <tr>
                                <td>{{.Field}}</td>
                                <td>{{.Operator}}</td>
                                <td>{{.Value}}</td>
                            </tr>
                        {{end}}
                    <tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                three
            </td>
            <td>
                four
            </td>
        </tr>
    </table>
{{end}}