{{define "body"}}
    <script type="text/javascript">
    $(document).ready(function() {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
    </script>

    <table class="main-table">
        <tr>
            <td>
                <form action="/save" method="post">
                    Field:
                    <select name="field">
                        <option value="age">Age</option>
                        <option value="pets"># Pets</option>
                    </select>
                    Operator:
                    <select name="operator">
                        <option value="eq">=</option>
                        <option value="ne">!=</option>
                        <option value="gt">></option>
                        <option value="lt"><</option>
                    </select>
                    Value: <input name="value"></input>
                    <input type="submit">
                </form>
            </td>
            <td>
                two
            </td>
        </tr>
        <tr>
            <td>
                <h4>Equality Conditions</h4>
                <form action="truncate_equality" method="post">
                    <input type="submit" value="Truncate">
                </form>
                <ul id="sortable">
                    {{range $i, $e := .Equality}}
                        {{if $i}}
                            <li class="ui-state-default">AND</li>
                        {{end}}

                        <li class="ui-state-default">{{$e.Field}} {{$e.Operator}} {{$e.Value}}</li>
                    {{end}}
                </ul>
            </td>
            <td>
                <table>
                    <thead>
                        <tr>
                            <th>Logic Table</th>
                            <th>
                                <form action="truncate_logic" method="post">
                                    <input type="submit" value="Truncate">
                                </form>
                            </th>
                        </tr>
                        <tr>
                            <th colspan=2>Operator</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Logic}}
                            <tr>
                                <td colspan=2>{{.Operator}}</td>
                            </tr>
                        {{end}}
                    <tbody>
                </table>
            </td>
        </tr>
    </table>
{{end}}