<div class="titlebar">
    <h1>Listing TODOs</h1>
</div>

<% @todos.each do |todo| %>
  <div class="todo">
    <div class="title">
      <%= todo.Title %>
    </div>
    <div class="content">
      <%= todo.Content %>
    </div>
  </div>
<% end %>