$watchsize: 200px
$edgesize: 20px

.watch
  background-color: #6B6B6A
  border-radius: $watchsize
  width: $watchsize
  height: $watchsize
  margin-left: 25%
  margin-right: 25%
  margin-top: 15%
  *
    position: absolute
  .edge
    background-color: #B7B7B5
    margin-top: $edgesize / 2
    margin-left: $edgesize / 2
    border-radius: $watchsize - $edgesize
    width: $watchsize - $edgesize
    height: $watchsize - $edgesize
    .face
      background-color: #A6A6A7
      margin-top: $edgesize / 2
      margin-left: $edgesize / 2
      border-radius: $watchsize - $edgesize * 2
      width: $watchsize - $edgesize * 2
      height: $watchsize - $edgesize * 2