/* line 13, app.sass */
.watch {
  background-color: #626262;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 15%;
}
/* line 21, app.sass */
.watch * {
  position: absolute;
}
/* line 23, app.sass */
.watch .edge {
  background-color: #8b8b8b;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 170px;
  width: 170px;
  height: 170px;
}
/* line 30, app.sass */
.watch .edge .face {
  background-color: #b6b5b6;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 130px;
  width: 130px;
  height: 130px;
}
/* line 37, app.sass */
.watch .edge .face .time {
  position: relative;
  top: 90px;
  -webkit-transform: translateY(-45px);
  -ms-transform: translateY(-45px);
  transform: translateY(-45px);
  font-size: 32px;
  background-color: #c9c9c8;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* line 48, app.sass */
.watch .edge .face .time .main {
  position: relative;
  display: inline-block;
}
/* line 51, app.sass */
.watch .edge .face .time .seconds {
  position: relative;
  display: inline-block;
  font-size: 0.5em;
  line-height: 170%;
  vertical-align: top;
}
