$watchsize: 200px
$outeredgesize: 30px
$inneredgesize: 40px

.watch
  background-color: #6B6B6A
  border-radius: $watchsize
  width: $watchsize
  height: $watchsize
  margin-left: 25%
  margin-right: 25%
  margin-top: 15%
  *
    position: absolute
  .edge
    background-color: #B7B7B5
    margin-top: $outeredgesize / 2
    margin-left: $outeredgesize / 2
    border-radius: $watchsize - $outeredgesize
    width: $watchsize - $outeredgesize
    height: $watchsize - $outeredgesize
    .face
      background-color: #A6A6A7
      margin-top: $inneredgesize / 2
      margin-left: $inneredgesize / 2
      border-radius: $watchsize - $outeredgesize - $inneredgesize
      width: $watchsize - $outeredgesize - $inneredgesize
      height: $watchsize - $outeredgesize - $inneredgesize